<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-default btn-contact">
      << Previous</button> </div> <div class="col-sm-6"><button class="btn btn-primary btn-contact">Next >></button></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <tabs (currentTabChange)="tabChange($event)">
      <tab tabTitle="Shipping Information">
        <app-shipment-information></app-shipment-information>
      </tab>
      <tab tabTitle="Pickup & Delivery">
        <app-pick-information></app-pick-information>
      </tab>
      <tab tabTitle="User Information">
        I am the bar content
      </tab>
      <tab tabTitle="Confirm">
        I am the bar content
      </tab>
    </tabs>
  </div>
</div>