<div class="container">
  <div class="row margin-l-14">
    <div class="col-xs-3 Primary-Category" *ngFor="let x of data" activeSection>
      <a [routerLink]="[x.navigate]">
        <div class="row text-center">
          <div class="col-xs-12">
            <i class="{{x.icon}}" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12">
            <span class="categoryTitle">{{x.categoryName}}</span>
          </div>
          <div class="col-xs-12">
            <p class="categoryDes">{{x.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>