<div class="container">
  <div class="row">
    <div class="col-xs-4" *ngFor="let x of data" activeSection>
      <a href="" target="">
        <div class="row">
          <div class="col-xs-12">
            <img src="" imgDirective="../../../assets/images/loading.gif" height="100" width="100" class="categoryThumb">
          </div>
          <div class="col-xs-12">
            <span class="categoryProd">Title</span>
          </div>
          <div class="col-xs-12">
            <p class="categoryDes">Description</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>