:host {
    background: #fff;
    color: #fdb706;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  ul.sideBar {
    background: #ffffff;
    color: #fdb706;
    padding: 10px 20px;
}
.sideBar li {
  font-size: 12px;
  font-weight: normal;
  font-family: cursive;
}
.sideBar li:before {
  content: ">>";
  margin-left: -3px;
}
[_nghost-c2]{
  background: #fff;
}