<div class="container row">
    <app-header-title title="What are you shipping?"></app-header-title>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="Company">Year</label>
                <select id="Company" class="form-control" name="Company">
                    <option value="small">2018</option>
                    <option value="medium">2017</option>
                    <option value="large">2016</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="Company">Making</label>
                <select id="Company" class="form-control" name="Company">
                    <option value="small">Alfa Romeo</option>
                    <option value="medium">BMW</option>
                    <option value="large">Honda</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="Company">Model</label>
                <select id="Company" class="form-control" name="Company">
                    <option value="small">X9</option>
                    <option value="medium">320 D</option>
                    <option value="large">HL350</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <toggle-button description="Running condition"></toggle-button>
        </div>
        <div class="col-sm-4">
            <toggle-button description="Hard top"></toggle-button>
        </div>
        <div class="col-sm-4">
            <toggle-button description="Customizied"></toggle-button>
        </div>
    </div>
</div>