@import "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    line-height: 2.4rem;
    letter-spacing: 0.085rem;
}
#top-bar.animated-header {
    padding: 20px 0;
    background: #212b5a;
    -webkit-box-shadow: none;
    box-shadow: 0 3px 4px 0.08px rgba(0, 0, 0, 0.2);
    color: #222222;
}
.navbar-nav a {
    color: #ffffff;
    font-size: 3rem;
    }
    .nav>li>a:focus, .nav>li>a:hover{
        background-color: #fdb706;
    }
#top-bar {
    background: #fff;
    color: #fff;
    transition: all 0.2s ease-out 0s;
    padding: 15px 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #dedede;
}
#footer {
    background: #fff;
    padding: 25px 0;
    color: #555;
}

#footer .copyright {
    font-size: 13px;
    margin-bottom: 0;
}
#footer .social {
    text-align: right;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
}
#footer .social li {
    display: inline-block;
    margin-right: 15px;
}
ul li {
    list-style: none;
}
#call-to-action {
    background: #02bdd5;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    text-align: center;
    position: relative;
    color: #fff;
}
#call-to-action .block {
    position: relative;
    z-index: 99;
    color: #fff;
}
#call-to-action .block h2 {
    margin-bottom: 15px;
    color: #fff;
}
.title {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#about {
    padding: 110px 0;
}
#about .block {
    padding: 20px 30px 0 30px;
}
.subDiv {
    background-size: cover;
    background-attachment: fixed;
    /* text-align: center; */
    position: relative;
    color: #222;
    margin-top: 11rem;
}
.mainBody{
    background: #fdb706;
    padding:2rem;
}
/* .CategoryBlock:hover {
    background: #ffffff;
}
.CategoryBlock {
    padding: 5px;
    background: #cccccc;
} */
.searchResult .row {
    border: 1px solid #bbb;
    padding: 4rem;
    background: #ffffff;
    margin: 1px;
}
/* .searchResult {
    margin-top: 2.5rem;
} */
.filterSection {
    background: #fff;
    color: #ffffff;
    padding: 3rem;
}
a {
    color: #222222;
}
.margin-l-14{
    margin-left: 14rem;
}
